{% extends "base.html" %}
{% block title %} Hola! {% endblock %}
{% block content %}
      <h5 class="header col s12 light">Visit our app written is Flask+Python!</h5>
      </div>
      <div class="row center">
        <h5>Emotion</h5>
        <ul>
          <li>In this section the user type one word and the system returns an image related to the sentiment of that word</li>
        </ul>
        <h5>Visualization</h5>
        <ul>
          <li>This section shows a polynomial graph</li>
        </ul>
        <h5>Collections</h5>
        <ul>
          <li>Yes</li>
        </ul>
        <h5>Personnel</h5>
        <ul>
          <li>PTM</li>
        </ul>
      </div>
{% endblock %}
